
body{ background-color:#fff; }

.alternatives,.fields,.komaochi,.pieces{ position:absolute; }
.alternatives,.fields{ font-size:140%; width:200px; z-index:20; }
.alternatives,.komaochi{ cursor:pointer; }
.alternatives,.komaochi,#questionField{ text-align:center; }
.fields,.pieces{ cursor:default; }
.komaochi{ background-color:#fff; font-size:200%; width:330px; z-index:50; }
.pieces{ z-index: 30; }

#alternativeFirst{ background-color:#a8f; top:350px; left:0px; }
#alternativeSecond,
#alternativeSaveKifu{ background-color:#f8a; top:400px; left:0px; }
#alternativeRestart{ background-color:#ccf; top:450px; left:0px; }
#ban,#banImage { position:relative; }
#banImage{ z-index:0; }
#komaochi0{ top:50px; left:300px; }
#komaochi2{ top:120px; left:300px; }
#komaochi4{ top:190px; left:300px; }
#komaochi6{ top:260px; left:300px; }
#komaochi8{ top:330px; left:300px; }
#komaochi10{ top:400px; left:300px; }
#questionField{ top:280px; left:0px; }
#talkField{ background-color:#fff; top:120px; left:730px; }
